{% extends "base.html" %}
{% block scripts %}<link rel="stylesheet"  type="text/css"  href= "{{ url_for('static',filename='styles/about.css') }}">
    {% if theme == "on" %}
        <link rel="stylesheet"  type="text/css"  href= "{{ url_for('static',filename='styles/aboutDarkMode.css') }}">
    {% endif %}
{% endblock %}

{% block title %}About{% endblock %}
{% block content %} 
<body>
    <div class="container-lvl-1">
        <div class="container-lvl-2">  
            <h1>This is the about page</h1>
            <div class="child-lvl-3">
                <p>We at FountainFinder are dedicated to promoting sustainable development and human well-being by providing useful information about the availability of drinking water in the city. By offering easy access to water fountains around the city, we aim to support the UN’s Sustainable Development Goals, particularly targets <strong>6.1</strong> and <strong>13.1</strong>.</p>
            </div>
        </div>
        <div class="container-lvl-2">
            <h2>Our Contribution to the UN Sustainability Goals</h2>
            <ul class="child-lvl-3">
                <li><p><strong>6.1 Universal Access to Safe Drinking Water: </strong>One of our main goals is to contribute to ensuring that all people have access to safe and affordable drinking water. By providing users with information about water fountains around the city, we make it easier for people to find and use free drinking water. We work to ensure that the water fountains provided meet safety standards and are accessible to the public.</p></li>
                <li><p><strong>13.1 Strengthen Resilience against Climate-related Hazards: </strong>By facilitating access to water, we contribute to strengthening society’s resilience against climate-related hazards and natural disasters. By reducing the risk of heat stress and dehydration, our application helps mitigate the effects of rising global temperatures and increased extreme weather events.</p></li>
                <li><p><strong>11.5 Reducing Direct Economic Losses Caused by Disasters: </strong>In extreme heat or water-related disasters, access to free drinking water can save many people from dehydration and related health problems. By providing information about water fountains online, freely available to the public, we help protect the poor and people in vulnerable situations from economic losses and health risks.</p></li>
                <li><p><strong>12.5 Reduce Waste Generation: </strong>We strive to reduce waste, especially water bottles, by encouraging people to refill their bottles at water fountains instead of buying disposable bottles. By offering information on where people can find water fountains, we promote reuse and reduce waste generation.</p></li>
                <li><p><strong>13.3 Improve Attrition and Awareness of Climate Change: </strong>By educating the public about water access and raising awareness about climate change adaptation, we help reduce the risk of dehydration and other health problems related to a warmer climate.</p></li>
            </ul>
        </div>
        
        <div class="container-lvl-2">
            <h2>We Believe in a Sustainable and Prosperous Future</h2>
            <div class="child-lvl-3">
                <p>At FountainFinder, we believe that by making drinking water easily accessible to everyone, we can contribute to a more sustainable and prosperous future for our cities and communities. We strive to continuously improve our application to ensure that we support the UN's Sustainable Development Goals and make a real difference in people’s lives.</p>
                
                <p>Thank you for being part of our journey towards a sustainable and prosperous future!</p>
            </div>
        </div>
    </div>  
</body>
{% endblock %}