<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  type="text/css"  href= "{{ url_for('static',filename='styles/default.css') }}">
    {% block scripts %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
    <body>
        <div class="topnav">
            <a class="active" href="home">FountainFinder</a>
            <a href="about">About</a>
            <form class="DarkModeSwitch" action="#" method="post">
                <label class="switch">
                    {% if theme == "on" %}
                    <input type="checkbox" onChange="this.form.submit()" name="Dark Mode" checked>
                    {% else %}
                    <input type="checkbox" onChange="this.form.submit()" name="Dark Mode">
                    {% endif %}
                    <span class="slider round"></span>
                </label> 
            </form>
          </div>
        {% block content %}{% endblock %}
    </body>
</html>