{% extends "base.html" %}
{% block scripts %}
<script>src="https://cdn.plot.ly/plotly-latest.min.js"</script>
{% endblock %}
{% block title %}FountainFinder{% endblock %}
{% block content %}

    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
    <form class="searchBar" action="#" method="post">
        <p>
            <input type="text" placeholder="Search.." name="search"  />
            <input type="submit" value="Submit"/>
        </p>
    </form>

    {% if theme == "on" %}
        <p>Dark Mode: {{theme}}</p>
        {% else %}
        <p>Dark Mode: {{theme}}</p>
    {% endif %}   
    
    <form class="DarkModeSwitch" action="#" method="post">
        <label class="switch">
            {% if theme == "on" %}
            <input type="checkbox" onChange="this.form.submit()" name="Dark Mode" checked>
            {% else %}
            <input type="checkbox" onChange="this.form.submit()" name="Dark Mode">
            {% endif %}
            <span class="slider"></span>
        </label> 
    </form>
    
{{div_placeholder | safe}}
{% endblock %}